.calendar_table {
  overflow-x: scroll;
  table {
    position: absolute;
    overflow-x: scroll;
    top: 0;
    right: 0;
    left: 0;
    height: 99%;
    border-spacing: 0;
    border-collapse: collapse;

  }

  thead {
    tr {
      border-bottom: 1px solid @bright-gray-color;
    }

    tr:nth-child(2) {
      th:first-child {
        p {
          width: 130px;
        }
      }

      th:nth-child(2) {
        p {
          visibility: hidden;
        }
      }
    }
  }
}

.navigation_bar {
  top: 0;
  width: 100%;
  height: 64px;
  background-image: url("/assets/images/navigation_bar_background.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  border: 1px solid @gray-color;
}

.column_title {
  p {
    position: relative;
    right: 27px;
    margin: 0;
    width: 48px;
    height: 64px;
    border: none;
    text-align: right;
    line-height: 64px
  }
}

.column_title:nth-child(2) {
  p {
    left: 0;
  }
}

.time_point {
  position: relative;
  padding: 0;
  margin: 0;
  border: 1px solid #808080;
}

.task_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.task {
  z-index: 1001;
  height: 20px;
  border: 1px solid blue;
  border-radius: 1px;
}

.week_day {
  padding-left: 35px;
  padding-top: 20px;
  vertical-align: top;
  font-size: 17pt;
}
