.calendar_table {
  overflow-x: scroll;
  table {
    position: absolute;
    overflow-x: scroll;
    top: 0;
    right: 0;
    left: 0;
    height: 99%;
    border-spacing: 0;
    border-collapse: collapse;

  }

  thead {
    tr {
      border-bottom: 1px solid @bright-gray-color;
    }

    tr:nth-child(2) {
      th:first-child {
        p {
          width: 130px;
          height: 64px;
          margin: 0;
          border: none;
          line-height: 64px;
          text-align: center;
        }
      }

      th:nth-child(2) {
        border-left: 1px solid @bright-gray-color;
        p {
          visibility: hidden;
        }
      }

      th:last-child {
        border-right: 1px solid @bright-gray-color;
        p {
          display: none;
        }
      }
    }
  }
}

tbody {
  tr {
    td:first-child {
      border-bottom: 1px solid @bright-gray-color;
      text-align: center;
    }
  }
}

.navigation_bar {
  top: 0;
  width: 100%;
  height: 64px;
  background-image: url("/assets/images/navigation_bar_background.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  border: 1px solid @bright-gray-color;
}

.column_title {
  p {
    position: relative;
    right: 27px;
    margin: 0;
    width: 48px;
    height: 64px;
    border: none;
    text-align: right;
    line-height: 64px
  }
}

.time_point {
  position: relative;
  padding: 0;
  margin: 0;
  border: 1px solid @bright-gray-color;
}

.time_point:nth-last-child(4n + 1){
  border-left: 2px solid @dark-gray-color;
}

.task_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.task {
  z-index: 1001;
  height: 20px;
  border: 1px solid blue;
  border-radius: 1px;
}

.week_day {
  font-size: 17pt;
  text-align: center;
  margin-bottom: 0px;
}


.total_appointment {
  .text-white();
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: @green-color;
  text-align: center;
}