#calendar {
  border-spacing:0; /* Removes the cell spacing via CSS */
  border-collapse: collapse;
}

.calendar_header {
  text-align: left;
}

.time_point {
  position: relative;
  border: 1px solid darkgray;
}

.task_container {

}

.task {
  z-index: 10001;
  height: 20px;
  border: 1px solid blue;
  border-radius: 1px;
}
