.text-size-17pt {
  font-size: 17pt;
}
.text-size-15pt {
  font-size: 15pt;
}

.text-size-13pt {
  font-size: 13pt;
}

.text-size-11pt {
  font-size: 11pt;
}


.text-dark-gray {
  color: @dark-gray-color;
}

.text-green {
  color: @green-color;
}

.text-white {
  color: #ffffff;
}

.text-orange {
  color: @orange-color;
}

.font-helvetica {
  font-family: "HELVETICA NEUE", Arial, sans-serif;
}

.font-helvetica-bold {
  font-family: "HELVETICA NEUE BOLD", Arial, sans-serif;
}

.font-helvetica-italic {
  font-family: "HELVETICA NEUE ITALIC", Arial, sans-serif ;
}

.padding-side-none {
  padding-left: 0;
  padding-right: 0;
}

.orange-theme {
  background-color: #fff7d8;
  color:#e17d00;
}

.pink-theme {
  background-color: #ffe1e1;
  color:#ff64c8;
}

.gray-theme {
  background-color: #eeeeee;
  color:#666666;
}