.text-size-17pt {
  font-size: 17pt;
}

.text-dark-gray {
  color: @dark-gray-color;
}

.text-green {
  color: @green-color;
}

.text-white {
  color: #ffffff;
}

.text-orange {
  color: @orange-color;
}



.font-helvetica {
  font-family: "HELVETICA NEUE", Arial, sans-serif;
}

.font-helvetica-bold {
  font-family: "HELVETICA NEUE BOLD", Arial, sans-serif;
}

.padding-side-none {
  padding-left: 0;
  padding-right: 0;
}